ul {
    list-style-type:none;
}

img {
    width: 80px;
    border-radius: 110px;
}

.bold {
    font-weight: bold;
    font-size: 12px;
}
h1{
    text-align: center;
}

body > div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

div > div {
    width: 800x;
    height: 200px;
    border: solid 1px black;
    background: tomato;
    margin: 10px;
}
 
